/*RESET*/
h1,h2,h3,p,figure {
    margin: 0;
}

a{color: inherit;}

/*GERAL*/
.content{
    font-family: "Inter", sans-serif;
    padding: 40px 80px 0 80px;
    margin-bottom: 0;
}

/*TOP-SITE*/
.top-site{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2{color:#418EB3;}

.menu a{
    margin-left: 30px;
}

/*HERO-SECTION*/
.hero-section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0 30px 0;
    }

.container{
    display: inline-block;
    width: 100%;
    text-align:justify;
    padding: 0px 0 10px 0;
}

.container h3{
    padding: 0 0 10px 0;
    font-weight: normal;
    text-align: justify;
}

.container a{
    background-color: #8CCEF1;
    color:black;
    border-radius: 10px;
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    font-weight: bold;
}

.hero-image{
    height: 2%;
    display: flex;
    align-items: center;
    padding: 0px 0 0 30px;
}

/*IMAGES*/
.images{
    display: flex; 
    justify-content: space-between; 
    margin-top: 40px;
}

.img-box{
    width: 30%;
}

.img-box img{
    width: 100%;
}


/*ICONS*/
.title h1{
    margin-top: 5%;
    text-align: center;
    padding: 60px 0 30px 0;
}

.icons{
    display:flex;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 5%;
    gap: 30px;
    padding: 30px 0 70px 0 ;
}


.icon img{
    width: 15%;
    text-align: center;
    
}

.icon p,h3{
    text-align: center;

}



/*FORMS*/
.forms{
    display: flex;
    align-items: center;
    background-image: url(../imagens/g1.jpeg);
    background-size: cover;
    background-attachment: fixed;
    padding: 2% 0 2% 0;
    height: 100%;
}

.text-form{
    margin: 10px 0 0 15%;
    width: 65%;
}

.text-form p, h1{
    text-align: left;
}

.text-form h3{
    border-radius: 20px;
    width: 35%;
    border: solid #000000;
    text-align: center;}


.inscricao{
    width: 100%;
    max-width: 300px;
    background-color: rgba(255, 255, 255, 0.908);
    margin: 30px 15%;
    padding: 60px 15px 60px 15px;
    border-radius: 10px;;  
}

.inscricao h2{
    text-align: center;
    margin-bottom: 30px;
    color: #000000;
}

.input-element{display: block;
    width: 80%;
    padding: 12px;
    border-radius: 5px;
    box-sizing: border-box;
    border: solid #555;
    margin-bottom: 20px;}

.botao{background-color: #8CCEF1;
    border: solid #555;
    border-radius: 10px;
    padding: 12px;
    width: 80%;
    font-weight: bold;
    margin-top: 10px;
}
.botao:hover{background-color: #abaef5;}


/*CLIENTES*/
.clientes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 0 70px 0;
}

.testemunhos h1{
    color:#8CCEF1;
}
.testemunhos h3{
    padding-top: 2%;
    text-align: justify;
    font-weight: normal ;
}

.testemunho{
    outline-style: solid;
    margin: 5%;
    border-radius: 10px;
    text-align: justify;
    padding: 10px;
}

.testemunho h3{
    text-align: justify;
}

.testemunho:hover{
    background-color: #8ccef156;
}


/*FOOTER*/
.foot{
    font-family: "Inter", sans-serif;
    background-color: #8CCEF1;
    padding: 5px 0 5px 0;
    margin-left: 0;
    margin-right: 0;
}

a img{
    width: 2%;
    align-items: center;
    justify-content: space-between;
}

.center{
    text-align: center;
    font-size: smaller;
}
